{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}
<div class="content-page">
    <div class="am-container">
        <div class="page-title"><h1 class="am-inline">角色列表</h1>
            <a href="<?= URL('/admin/role/update');?>" class="am-btn am-btn-primary am-btn-xs am-radius">
                <i class="am-icon am-icon-edit"></i>添加角色
            </a>
            <a href="<?= URL('/admin/role/trash');?>" class="am-btn am-btn-default am-btn-xs am-radius">
                <i class="am-icon-trash"></i>回收站
            </a>
        </div>
        <table class="am-table">
            <thead>
            <tr>
                <th>角色名</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id='role'}
            <tr>
                <td>{$role.role_name}</td>
                <td>
                    <div class="am-btn-group am-btn-group-xs">
                        <a href="<?= URL('/admin/role/update',array('id'=>$role['role_id']));?>" class="am-btn am-btn-primary am-radius"><i class="am-icon-edit"></i></a>
                        {if condition="$role.del_lock neq 1"}<a href="<?= URL('/admin/role/remove',array('id'=>$role['role_id']));?>" class="am-btn am-btn-primary am-radius"><i class="am-icon-trash"></i></a>{/if}
                    </div>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        {$page}
    </div>
</div>
{include file="footer" /}
