{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}
<div class="content-page">
    <div class="am-container">
        <div class="page-title"><h1 class="am-inline">角色列表</h1>
            <a href="<?= URL('/admin/role/edit');?>" class="am-btn am-btn-primary am-btn-xs am-radius">
                <i class="am-icon am-icon-edit"></i>添加角色
            </a>
            <a href="#" class="am-btn am-btn-default am-btn-xs am-radius">
                <i class="am-icon-trash"></i>回收站
            </a>
        </div>
        <table class="am-table">
            <thead>
            <tr>
                <th>角色名</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>超级管理员</td>
                <td>
                    <div class="am-btn-group am-btn-group-xs">
                        <a href="<?= URL('/admin/role/edit',array('role_id',1));?>" class="am-btn am-btn-primary am-radius"><i class="am-icon-edit"></i></a>
                        <a href="#" class="am-btn am-btn-primary am-radius"><i class="am-icon-trash"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="am-pagination am-pagination-right">
            <li class="am-disabled"><a href="#">&laquo;</a></li>
            <li class="am-active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
{include file="footer" /}
