<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/common/jquery/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/common/amazeui/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/static/common/amazeui/js/amazeui.min.js"></script>
<script src="/static/common/amazeui-switch/js/amazeui.switch.min.js"></script>
<script src="/static/common/handlebars/handlebars.js"></script>
<script src="/static/admin/js/admin.min.js"></script>

<script src="/static/lib/dist/amazeui.upload.js"></script>
<script src="/static/lib/dist/amazeui.upload.template.js"></script>
<script src="/static/lib/dist/amazeui.upload.event.js"></script>