root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,html,css,php}]
charset = utf-8

[*.js]
indent_style = space
indent_size = 4

[{package.json,.travis.yml}]
indent_style = space
indent_size = 4
