{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}


<div class="content-page">
    <div class="am-container">

            <div class="page-title"><h1 class="am-inline">脚本广告列表</h1>
                <a href="/index.php/admin/ad/edit" class="am-btn am-btn-primary am-btn-xs am-radius">
                    <i class="am-icon am-icon-edit"></i>添加广告
                </a>
                <a href="#" class="am-btn am-btn-default am-btn-xs am-radius">
                    <i class="am-icon-trash"></i>回收站
                </a>
            </div>
            <form class="am-form-inline search-form">
                {:token()}
                <div class="am-form-group">
                    <input type="keyword" class="am-form-field" placeholder="关键词">
                </div>
                <button type="submit" class="am-btn am-btn-default"><i class="am-icon-search"></i></button>
            </form>
            <table class="am-table">
                <thead>
                <tr>

                    <th>脚本广告标识</th>
                    <th>名称</th>
                    <th>代码</th>
                    <th>描述</th>
                    <th>软删除</th>
                    <th>更新时间</th>
                    <th>创建时间</th>
                    <th>更多操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td><a target="_blank" href="#">世界您好</a></td>
                    <td><a href="#">admin</a></td>
                    <td><a href="#">未分类</a></td>
                    <td>--</td>
                    <td><a href="#">5</a></td>
                    <td>2017-1-18 15:43:26</td>
                    <td><a href="#">未发布</a></td>
                    <td>
                        <div class="am-btn-group am-btn-group-xs">
                            <a href="#" class="am-btn am-btn-primary am-radius"><i class="am-icon-edit"></i></a>
                            <a href="#" class="am-btn am-btn-primary am-radius"><i class="am-icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td><a target="_blank" href="#">Gulp常用配置</a></td>
                    <td><a href="#">hukei</a></td>
                    <td><a href="#">Gulp</a></td>
                    <td><a href="#">gulp</a>、<a href="#">nodejs</a></td>
                    <td><a href="#">20</a></td>
                    <td>2017-1-28 15:43:26</td>
                    <td><a href="#">已发布</a></td>
                    <td>
                        <div class="am-btn-group am-btn-group-xs">
                            <a href="#" class="am-btn am-btn-primary am-radius"><i class="am-icon-edit"></i></a>
                            <a href="#" class="am-btn am-btn-primary am-radius"><i class="am-icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>


        <ul class="am-pagination am-pagination-right ">
            <li class="am-disabled"><a href="#">&laquo;</a></li>
            <li class="am-active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
{include file="footer" /}
