{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}
<div class="content-page">
    <div class="am-container">
        <div class="am-u-sm-6">
            <div class="am-panel am-panel-default">
                <div class="am-panel-hd"><i class="am-icon am-icon-cog"></i>系统信息</div>
                <table class="am-table">
                    <tr>
                        <td>系统名称</td><td><?= APP_NAME?></td>
                    </tr>
                    <tr>
                        <td>系统版本</td><td>V<?= APP_VERSION?></td>
                    </tr>
                    <tr>
                        <td>ThinkPHP版本</td><td>V<?= THINK_VERSION?></td>
                    </tr>
                    {volist name='envs' id='env'}
                    <tr>
                        <td>{$env->name}</td><td>{$env->current}</td>
                    </tr>
                    {/volist}
                </table>
            </div>
        </div>
        <div class="am-u-sm-6">
            <div class="am-panel am-panel-default">
                <div class="am-panel-hd"><i class="am-icon am-icon-users"></i>开发团队</div>
                <table class="am-table">
                    <tr>
                        <td>公司名称</td><td>云阿拉丁（大冶）科技有限公司</td>
                    </tr>
                    <tr>
                        <td>联系人</td><td>Jabber</td>
                    </tr>
                    <tr>
                        <td>联系电话</td><td>0714-8868331</td>
                    </tr>
                    <tr>
                        <td>团队成员</td><td><a target="_blank" href="http://jabber.oppophp.com">jabber</a> 、陈前号、<a target="_blank" href="http://www.hlhwang.com">卢超</a> 、周帝、黄素华、罗玉梅...</td>
                    </tr>
                    <tr>
                        <td>在线客服</td><td><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2898117012&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2898117012:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></td>
                    </tr>
                    <tr>
                        <td>产品交流群</td><td><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=f3b9bb2f9bd3dc2d28c4e9ac14664d0fe30a3c88f6733ed43764509c7a65c1af"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="yuncms" title="yuncms"></a></td>
                    </tr>
                    <tr>
                        <td>公司网址</td><td><a target="_blank" href="<?= APP_SITE?>"><?= APP_SITE?></a> </td>
                    </tr>
                    <tr>
                        <td>公司地址</td><td>湖北省黄石市大冶市大冶大道116号</td>
                    </tr>
                    <tr>
                        <td>GitHub</td><td><a target="_blank" href="https://github.com/yunalading/yuncms">https://github.com/yunalading/yuncms</a></td>
                    </tr>
                    <tr>
                        <td>License</td><td>Apache-2.0</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{include file="footer" /}
