.content-page {
    padding: 10px;
    .am-container, .am-u-sm-6 {
        padding-left: 0;
    }
    .am-panel {
        .am-panel-hd {
            padding-left: 0.8rem;
            padding-right: 0.8rem;
        }
        .am-icon {
            color: @global-secondary;
            margin-right: 0.5rem;;
        }
    }
}
