.edit-form {
    margin-top: 1rem;
    .input-group {
        margin: 1rem auto;
        label {
            margin-right: 1rem;
            span {
                font-weight: 400;
                font-size: 1.4rem;
                display: none;
            }
        }
        &.am-form-error {
            label {
                span {
                    display: inline-block;
                }
            }
        }
    }
}
