html, body {
    height: 100%;
}

.am-container {
    min-width: 1600px !important;
    max-width: none;
}

//修改默认样式
.am-breadcrumb {
    font-size: 90%;
    margin-bottom: 0;
    border-bottom: 1px dotted #dedede;
}
