.login {
    width: 400px;
    margin: 10rem auto;
    .logo {
        margin-bottom: 5rem;
    }
    .am-form-group {
        label {
            display: block;
            span {
                font-weight: 400;
                font-size: 1.4rem;
                display: none;
            }
        }
        &.am-form-error {
            label {
                span {
                    display: inline-block;
                }

            }
        }
        .captcha-field {
            width: 250px;
            display: inline-block;
        }
        #captcha {
            float: right;
            border: 1px solid @global-border-color;
        }
    }
}
