.manager-topbar {
    width: 100%;
    margin-bottom: 0;
    z-index: 1500;
    border-color: #009db5;
    .am-topbar-brand {
        width: 200px;
        text-align: center;
    }
    .manager-tools-btn {
        margin-top: 0;
    }
}
