.role-access-form {
    h3 {
        margin: 1rem auto;
        font-weight: 400;
    }
    .am-form-field {
        width: 20rem;
        display: inline-block;
    }
    .role-nav {
        display: inline-table;
        margin-left: 1rem;
        width: 200px;
        .am-panel-hd{
            label{
                margin: 0 auto;
            }
        }
        .am-panel-bd {
            div {
                div{
                    margin-left: 2rem;
                }
            }
        }
    }
}
