{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}
<div class="content-page">
    <div class="am-container">
        <div class="page-title">
            <h1 class="am-inline">邮件配置</h1>
        </div>
        <form class="am-form edit-form" id="email-settings" data-am-validator novalidate="novalidate" method="post">
            <div class="am-form-group">
                <label>SMTP服务器：</label>
                <input type="text" name="mail[host]" id="send-server" {notempty name="mail" }value="{$mail.host}" {/notempty}
                >
                <label class="label-right" for="send-server">设置SMTP服务器的地址</label>
            </div>
            <div class="am-form-group">
                <label>SMTP端口：</label>
                <input type="text" name="mail[port]" id="send-port" placeholder="25" {notempty name="mail"
                       }value="{$mail.port}" {/notempty}>
                <label class="label-right" for="send-port">设置SMTP服务器的端口，默认为25</label>
            </div>
            <div class="am-form-group">
                <label>SMTP 服务器身份验证：</label>
                <div class="radio-width"><input type="checkbox" name="mail[auth]" data-am-switch
                                                data-size="xs" data-on-text="关闭" data-off-text="开启" {notempty
                                                name="mail" }value="{$mail.auth}" {$mail.auth?'checked'
                    : '' }{/notempty}>
                </div>
                <text class="label-right">如果SMTP服务器要求身份验证才可以发信，请选择“是”</text>
            </div>
            <div class="am-form-group">
                <label>发送人邮件地址：</label>
                <input type="email" name="send-email" id="mail[serveremail]" {notempty name="mail"
                       }value="{$mail.serveremail}" {/notempty}>
                <label class="label-right" for="send-email">如果需要验证，必须为本服务器的邮件地址</label>
            </div>
            <div class="am-form-group">
                <label for="send-username">SMTP身份验证用户名：</label>
                <input type="text" name="mail[servername]" id="send-username" {notempty name="mail"
                       }value="{$mail.servername}" {/notempty}>
            </div>
            <div class="am-form-group">
                <label for="send-password">SMTP身份验证密码：</label>
                <input type="password" name="mail[serverpass]" id="send-password" {notempty name="mail"
                       }value="{$mail.serverpass}" {/notempty}>
            </div>

            <div class="am-form-group">
                <label for="send-receive-email">测试收件人：</label>
                <input type="email" name="sendemail" id="send-receive-email" {notempty name="mail"
                       }value="{$mail.sendemail}" {/notempty}>
            </div>
            {:token()}
            <div class="am-form-group">
                <button class="am-btn am-btn-primary "><i class="am-icon-send"></i>测试邮件发送</button>
            </div>
        </form>
    </div>
</div>
{include file="footer" /}
