{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}
<div class="content-page">
    <div class="am-container">
        <div class="page-title"><h1 class="am-inline">评论列表</h1>
        </div>
        <table class="am-table">
            <thead>
            <tr>
                <th>内容评论编号</th>
                <th>内容编号</th>
                <th>会员编号</th>
                <th>头像</th>
                <th>昵称</th>
                <th>手机</th>
                <th>邮箱</th>
                <th>评论内容</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id='comment'}
            <tr>
                <td><a target="_blank" href="#">{$comment.content_comment_id}</a></td>
                <td><a href="#">{$comment.content_id}</a></td>
                <td><a href="#">{$comment.member_id}</a></td>
                <td>{$comment.avatar}</td>
                <td>{$comment.nickname}</td>
                <td><a href="#">{$comment.phone}</a></td>
                <td>{$comment.email}</td>
                <td><a href="#">{$comment.comment_content}</a></td>
                <td>
                    <div class="am-btn-group am-btn-group-xs">
                        <!--<a href="#" class="am-btn am-btn-primary am-radius"><i class="am-icon-edit"></i></a>-->
                        <a href="<?=URL('/admin/comment/remove',array('id'=>$comment['content_comment_id']));?>" class="am-btn am-btn-primary am-radius"><i class="am-icon-trash"></i></a>
                    </div>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <ul class="am-pagination am-pagination-right ">
            <li class="am-disabled"><a href="#">&laquo;</a></li>
            <li class="am-active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
{include file="footer" /}
