.check-table {
    margin-top: 4rem;
    h2 {
        font-weight: 400;
        margin-bottom: 1rem;
        color: @global-primary;
    }
    .am-table {
        font-size: 1.4rem;
        .am-icon {
            margin-right: 0.5rem;
        }
    }
}
