.install-load {
    margin: 8rem 0 10rem;
    .loading {
        text-align: center;
        i {
            font-size: 8rem;
            color: @global-primary;
        }
        span {
            display: block;
            color: @global-secondary;
        }
    }
}
