{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}

<form class="am-form am-g margin-top-buttom-20"  data-am-validator method="post" action="<?=URL('/admin/tag/edit');?>">
    <div class="all-width">
        <label for="tag-edit">请输入标签</label>
        <input type="text" name="tag[tag_name]" id="tag-edit" required {notempty name="tag"}value="{$tag.tag_name}"{/notempty}>
    </div>
    {notempty name="tag"}<input type="hidden" name="id" value="{$tag.tag_id}">{/notempty}
    <button class="am-btn am-btn-primary button-text-left">{$action_name}标签</button>
</form>

{include file="footer" /}
