{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}
<form action="" class="am-form am-g margin-top-buttom-20" data-am-validator="">
    <div class="all-width-six">
        <table class="model-table">
            <thead>
            <tr>
                <th>名称</th>
                <th>字段英文标识</th>
                <th>字段类型</th>
                <th>字段选项值</th>
                <th>操作</th>
            </tr>
            </thead>
            {volist name='model_attr' id='model_attr'}
            <tr>
                <td>{$model_attr.tips}</td>
                <td>{$model_attr.name}</td>
                <td>{$model_attr.type}</td>
                <td>{$model_attr.field_value}</td>
                <td>
                    <a href="<?=URL('/admin/model/edit',array('id'=>$model_attr['model_id'],'attr_id'=>$model_attr['id']));?>">修改</a>
                    <a class="model-field-del"
                       href="<?=URL('/admin/model/attrdelete',array('id'=>$model_attr['model_id'],'attr_id'=>$model_attr['id']));?>">删除</a>
                </td>
            </tr>
            {/volist}
        </table>
        <div class="model-table-add">
            <label>字段类型：</label>
            <div>
                <select data-am-selected name="attr[type]" class="model-field-type" data-url="<?=URL('/admin/model/get_model_attr');?>" required >
                    <option selected>请选择字段类型</option>
                    {volist name='attr_config' id='attr_config' key="k" }
                        <option value="{$k}">{$attr_config}</option>
                    {/volist}
                </select>
            </div>
            <div class="model-file model-fielf-type-default">
                <label for="model-field-default-tips">标题（请输入字段标题，长度不超过30）</label>
                <input type="text" name="attr[text][tips]" id="model-field-default-tips" maxlength="30" required {notempty name="attr_one"
                       }value="{$attr_one.tips}" {/notempty} />
                <label for="model-field-default-name">字段名（请输入字段名 英文字母开头，长度不超过30）</label>
                <input type="text" name="attr[text][name]" id="model-field-default-name" maxlength="30" {notempty name="attr_one"
                       }value="{$attr_one.name}" {/notempty} required/>
            </div>

            <div class=" model-file model-field-type-select">
                <label for="model-field-select-tips">标题（请输入标题，长度不超过30）</label>
                <input type="text" name="attr[select][tips]" id="model-field-select-tips" maxlength="30" required {notempty name="attr_one"
                       }value="{$attr_one.tips}" {/notempty} />
                <label for="model-field-select-name">字段名（请输入字段名 英文字母开头，长度不超过30）</label>
                <input type="text" name="attr[select][name]" id="model-field-select-name" maxlength="30" required {notempty name="attr_one"
                       }value="{$attr_one.name}" {/notempty} />
                <table class="model-select">
                    <thead>
                    <tr>
                        <th>字段的显示内容（请输入自定义初始值，用于表单显示）</th>
                        <th></th>
                        <th>字段的值（数据表中此字段的值）</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tr>
                        <td><input type="text" name=""/></td>
                        <td>----</td>
                        <td><input type="text" name=""/></td>
                        <td>

                            <a class="model-remove">删除</a>
                        </td>
                    </tr>
                </table>
                <div class=" am-icon-plus-square am-icon-lg model-field-add-button model-add"></div>
            </div>
            <div class=" model-file model-field-type-radio">
                <label for="model-field-radio-tips">标题（请输入标题，长度不超过30）</label>
                <input type="text" name="" id="model-field-radio-tips" maxlength="30" required/>
                <label for="model-field-radio-name">字段名（请输入字段名 英文字母开头，长度不超过30）</label>
                <input type="text" name="" id="model-field-radio-name" maxlength="30" required/>
                <table class="model-select">
                    <thead>
                    <tr>
                        <th></th>
                        <th>字段的显示内容（请输入自定义初始值，用于表单显示）</th>
                        <th></th>
                        <th>字段的值（数据表中此字段的值）</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tr>
                        <td><input type="radio" disabled></td>
                        <td><input type="text" name=""/></td>
                        <td>----</td>
                        <td><input type="text" name=""/></td>
                        <td>
                            <a class="model-remove">删除</a>
                        </td>
                    </tr>
                </table>
                <div class=" am-icon-plus-square am-icon-lg model-field-add-button model-add"></div>
            </div>
            <div class=" model-file model-field-type-checkbox">
                <label for="model-field-checkbox-tips">标题（请输入标题，长度不超过30）</label>
                <input type="text" name="" id="model-field-checkbox-tips" maxlength="30" required/>
                <label for="model-field-checkbox-name">字段名（请输入字段名 英文字母开头，长度不超过30）</label>
                <input type="text" name="" id="model-field-checkbox-name" maxlength="30" required/>
                <table class="model-select">
                    <thead>
                    <tr>
                        <th></th>
                        <th>字段的显示内容（请输入自定义初始值，用于表单显示）</th>
                        <th></th>
                        <th>字段的值（数据表中此字段的值）</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox" disabled></td>
                        <td><input type="text" name=""/></td>
                        <td>----</td>
                        <td><input type="text" name=""/></td>
                        <td>
                            <a class="model-remove">删除</a>
                        </td>
                    </tr>
                </table>
                <div class=" am-icon-plus-square am-icon-lg model-field-add-button model-add"></div>

            </div>
            <button class="am-btn am-btn-primary button-text-left">提交</button>
            <a href="<?=URL('/admin/model/index');?>" class="am-btn am-btn-primary button-text-left">取消</a>
        </div>

        <div class="am-icon-plus-square am-icon-lg model-table-button"><span>新增字段</span></div>
    </div>
</form>
{include file="footer" /}
