{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}
<form class="am-form am-g margin-top-buttom-20" id="tag-edit" data-am-validator="" method="post"
      action="<?= URL('/admin/model/edit');?>">

    <!--<div class="all-width-six">-->
    <!--<label for="model-number">模型编号</label>-->
    <!--<input type="text" name="" id="model-number" maxlength="20" required >-->
    <!--</div>-->

    <div class="all-width-six">
        <label for="model-edit">模型名称</label>
        <input type="text" name="model[model_name]" id="model-edit" maxlength="20" required {notempty name="model"
               }value="{$model.model_name}" {/notempty} >
    </div>

    {notempty name="model"}<input type="hidden" name="id" value="{$model.model_id}">{/notempty}
    <button class="am-btn am-btn-primary button-text-left">{$action_name}模型</button>
</form>
{include file="footer" /}
