{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}
<div class="content-page">
    <div class="am-container">
        <div class="min-height">
            <div class="page-title"><h1 class="am-inline">模型列表</h1>
                <a href="<?=URL('/admin/model/edit');?>" class="am-btn am-btn-primary am-btn-xs am-radius">
                    <i class="am-icon am-icon-edit"></i>添加模型
                </a>
                <!--<a href="<?=URL('/admin/model/trash');?>" class="am-btn am-btn-default am-btn-xs am-radius">-->
                    <!--<i class="am-icon-trash"></i>回收站-->
                <!--</a>-->
            </div>
            <form class="am-form-inline search-form">
                <div class="am-form-group">
                    <input type="text" name="keyword" class="am-form-field" placeholder="关键词">
                </div>
                <button type="submit" class="am-btn am-btn-default"><i class="am-icon-search"></i></button>
            </form>
            <table class="am-table">
                <thead>
                <tr>
                    <th>模型编号</th>
                    <th>模型名称</th>
                    <th>更新时间</th>
                    <th>创建时间</th>
                    <th>更多操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name='list' id='model'}
                <tr>
                    <td>{$model.model_id}</td>
                    <td>{$model.model_name}</td>
                    <td>{$model.update_time}</td>
                    <td>{$model.create_time}</td>
                    <td>
                        <div class="am-btn-group am-btn-group-xs">
                            <a href="<?=URL('/admin/model/edit',array('id'=>$model['model_id']));?>" class="am-btn am-btn-primary am-radius"><i class="am-icon-edit"></i></a>
                            <a href="<?=URL('/admin/model/attr',array('id'=>$model['model_id']));?>" class="am-btn am-btn-primary am-radius"><i class="am-icon-edit"></i></a>
                            <a href="<?=URL('/admin/model/remove',array('id'=>$model['model_id']));?>" class="am-btn am-btn-primary am-radius"><i class="am-icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        {$page}
    </div>
</div>
{include file="footer" /}
