{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}
<div class="content-page">
    <div class="am-container">
        <div class="page-title"><h1 class="am-inline">地区列表</h1>
        </div>
        <table class="am-table">
            <thead>
            <tr>
                <th>地区名称</th>
                <th>排序</th>
                <th>大区名称</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id='area'}
            <tr>
                <td>{$area.area_name}</td>
                <td>{$area.area_sort}</td>
                <td>{$area.area_region}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
        {$page}
    </div>
</div>
{include file="footer" /}
