<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$Think.const.APP_NAME}官方安装程序</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/static/images/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/static/images/app-icon72x72@2x.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/static/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="/static/install/css/install.min.css">
</head>
<body>
<header class="header">
    <div class="am-container">
        <img class="logo" src="/static/install/images/logo.png" title="{$Think.const.APP_NAME}官方安装程序" alt="{$Think.const.APP_NAME}官方安装程序"><span class="version">版本:v{$Think.const.APP_VERSION}</span>
    </div>
</header>
<div class="complete-page">
    <div class="am-container">
        <div class="am-g system-message">
            <div class="am-u-sm-5 am-text-right">
                <i class="am-icon-check-circle am-text-success"></i>
            </div>
            <div class="am-u-sm-7">
                <h1>程序已成功安装</h1>
                <span>选择您要进入的页面</span>
            </div>
        </div>
        <div class="app-list">
            <div class="am-u-sm-6">
                <a href="<?= url('/admin');?>">
                    <i class="am-icon-dashboard"></i>
                    <h3>系统管理</h3>
                    <p>进入网站管理系统。</p>
                </a>
            </div>
            <div class="am-u-sm-6">
                <a href="<?= url('/');?>">
                    <i class="am-icon-desktop"></i>
                    <h3>网站首页</h3>
                    <p>进入网站首页。</p>
                </a>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="am-container">
        <p>© 2017 <a target="_blank" href="{$Think.const.APP_SITE}">YunAlaDing</a> , Inc. Licensed Apacle license 2.0.
        </p>
    </div>
</footer>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/common/jquery/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/common/amazeui/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/static/common/amazeui/js/amazeui.min.js"></script>
<script src="/static/install/js/install.min.js"></script>
</body>
</html>
