{layout name="layout" /}
<div class="complete-page">
    <div class="am-container">
        <div class="am-g system-message">
            <div class="am-u-sm-5 am-text-right">
                <i class="am-icon-check-circle am-text-success"></i>
            </div>
            <div class="am-u-sm-7">
                <h1>程序已成功安装</h1>
                <span>选择您要进入的页面</span>
            </div>
        </div>
        <div class="app-list">
            <div class="am-u-sm-6">
                <a href="<?= url('/admin');?>">
                    <i class="am-icon-dashboard"></i>
                    <h3>系统管理</h3>
                    <p>进入网站管理系统。</p>
                </a>
            </div>
            <div class="am-u-sm-6">
                <a href="<?= url('/');?>">
                    <i class="am-icon-desktop"></i>
                    <h3>网站首页</h3>
                    <p>进入网站首页。</p>
                </a>
            </div>
        </div>
    </div>
</div>
