<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YunCMS官方安装程序</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/static/images/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/static/images/app-icon72x72@2x.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/static/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="/static/install/css/install.min.css">
</head>
<body>
<header class="header">
    <div class="am-container">
        <img class="logo" src="/static/images/logo.png" title="YunCMS官方安装程序" alt="YunCMS官方安装程序"><span class="version">版本:v1.0.0</span>
    </div>
</header>
<div class="license-box">
    <div class="am-container">
        <div class="license">

        </div>
        <p class="am-text-center">
            <a href="#" class="am-btn am-btn-primary am-radius">同意协议进入安装</a>
        </p>
    </div>
</div>
<footer class="footer">
    <div class="am-container">
        <p>© 2017 <a target="_blank" href="http://www.yunalading.com">YunAlaDing</a> , Inc. Licensed Apacle license 2.0.</p>
    </div>
</footer>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/common/jquery/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/common/amazeui/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/static/common/amazeui/js/amazeui.min.js"></script>
</body>
</html>
