<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YunCMS官方安装程序</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/static/images/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/static/images/app-icon72x72@2x.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/static/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="/static/install/css/install.min.css">
</head>
<body>
<header class="header">
    <div class="am-container">
        <img class="logo" src="/static/images/logo.png" title="YunCMS官方安装程序" alt="YunCMS官方安装程序"><span class="version">版本:v1.0.0</span>
    </div>
</header>
<div class="step-bar">
    <div class="am-container">
        <div class="am-g setp-title">
            <div class="am-u-sm-6 am-text-right">
                <h1>Step.1</h1>
            </div>
            <div class="am-u-sm-6 am-text-left">
                <h3>开始安装</h3>
                <p>检测服务器环境及文件目录权限</p>
            </div>
        </div>
        <div class="am-g step">
            <div class="am-u-sm-3 am-active">
                <i class="am-icon am-icon-search"></i>
                <div class="line"></div>
                <spa>检查安装环境</spa>
            </div>
            <div class="am-u-sm-3">
                <i class="am-icon am-icon-cogs"></i>
                <div class="line"></div>
                <span>选择安装方式</span>
            </div>
            <div class="am-u-sm-3">
                <i class="am-icon am-icon-database"></i>
                <div class="line"></div>
                <span>创建数据库</span>
            </div>
            <div class="am-u-sm-3">
                <i class="am-icon am-icon-bullseye"></i>
                <div class="line"></div>
                <span>安装</span>
            </div>
        </div>
    </div>
</div>
<div class="check-table">
    <div class="am-container">
        <h2>环境检查</h2>
        <table class="am-table am-table-striped">
            <tr>
                <th>项目</th>
                <th>最低配置</th>
                <th>最佳配置</th>
                <th>当前配置</th>
            </tr>
            <tr>
                <td>操作系统</td>
                <td>无限制</td>
                <td>Linux</td>
                <td><i class="am-icon am-icon-check-circle am-text-primary"></i>Linux</td>
            </tr>
            <tr>
                <td>PHP版本</td>
                <td>5.5.9</td>
                <td>5.5.9</td>
                <td><i class="am-icon am-icon-minus-circle am-text-danger"></i>5.2.9</td>
            </tr>
            <tr>
                <td>GD库</td>
                <td>2.0</td>
                <td>2.0</td>
                <td><i class="am-icon am-icon-check-circle am-text-primary"></i>2.0</td>
            </tr>
            <tr>
                <td>附件上传</td>
                <td>未限制</td>
                <td>2M</td>
                <td><i class="am-icon am-icon-check-circle am-text-primary"></i>2M</td>
            </tr>
            <tr>
                <td>磁盘空间</td>
                <td>100M</td>
                <td>>100M</td>
                <td><i class="am-icon am-icon-check-circle am-text-primary"></i>10000M</td>
            </tr>
        </table>
        <h2>目录、文件权限检查</h2>
        <table class="am-table am-table-striped">
            <tr>
                <th>目录文件</th>
                <th>所需状态</th>
                <th>当前状态</th>
            </tr>
            <tr>
                <td>data/cache</td>
                <td>可写</td>
                <td><i class="am-icon am-icon-check-circle am-text-primary"></i>可写</td>
            </tr>
            <tr>
                <td>data/cache/adv</td>
                <td>可写</td>
                <td><i class="am-icon am-icon-minus-circle am-text-danger"></i>不可写</td>
            </tr>
        </table>
        <h2>函数检查</h2>
        <table class="am-table am-table-striped">
            <tr>
                <th>函数名称</th>
                <th>所需状态</th>
                <th>当前状态</th>
            </tr>
            <tr>
                <td>mysql_connect()</td>
                <td>支持</td>
                <td><i class="am-icon am-icon-check-circle am-text-primary"></i>可写</td>
            </tr>
            <tr>
                <td>fsockopen()</td>
                <td>支持</td>
                <td><i class="am-icon am-icon-minus-circle am-text-danger"></i>不支持</td>
            </tr>
        </table>
        <p class="am-text-center am-margin-top-xl">
            <a href="/index.php/install" class="am-btn am-btn-primary am-radius" disabled>上一步</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/index.php/install/step2" class="am-btn am-btn-primary am-radius">下一步</a>
        </p>
    </div>
</div>
<footer class="footer">
    <div class="am-container">
        <p>© 2017 <a target="_blank" href="http://www.yunalading.com">YunAlaDing</a> , Inc. Licensed Apacle license 2.0.
        </p>
    </div>
</footer>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/common/jquery/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/common/amazeui/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/static/common/amazeui/js/amazeui.min.js"></script>
<script src="/static/install/js/install.min.js"></script>
</body>
</html>
