{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}
<div class="content-page">
    <div class="am-container">
        <div class="page-title"><h1 class="am-inline">管理员列表</h1>
            <a href="#" class="am-btn am-btn-primary am-btn-xs am-radius">
                <i class="am-icon am-icon-edit"></i>添加管理员
            </a>
            <a href="#" class="am-btn am-btn-default am-btn-xs am-radius">
                <i class="am-icon-trash"></i>回收站
            </a>
        </div>
        <table class="am-table">
            <thead>
            <tr>
                <th>头像</th>
                <th>昵称</th>
                <th>用户名</th>
                <th>邮箱</th>
                <th>手机</th>
                <th>QQ</th>
                <th>角色</th>
                <th>最后登录时间</th>
                <th>最后登录IP</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>超级管理员</td>
                <td>超级管理员</td>
                <td>超级管理员</td>
                <td>超级管理员</td>
                <td>超级管理员</td>
                <td>超级管理员</td>
                <td>超级管理员</td>
                <td>超级管理员</td>
                <td>超级管理员</td>
                <td>超级管理员</td>
                <td>
                    <div class="am-btn-group am-btn-group-xs">
                        <a href="#" class="am-btn am-btn-primary am-radius"><i class="am-icon-edit"></i></a>
                        <a href="#" class="am-btn am-btn-primary am-radius"><i class="am-icon-trash"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="am-pagination am-pagination-right">
            <li class="am-disabled"><a href="#">&laquo;</a></li>
            <li class="am-active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
{include file="footer" /}
