{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}
<div class="content-page">
    <div class="am-container">
        <div class="page-title"><h1 class="am-inline">用户列表</h1>

        </div>
        <form class="am-form-inline search-form">
            <div class="am-form-group">
                <input type="text" class="am-form-field" placeholder="请输入要搜索的用户名">
            </div>
            <button type="submit" class="am-btn am-btn-default"><i class="am-icon-search"></i></button>
        </form>
        <table class="am-table">
            <thead>
            <tr>
                <th>用户</th>
                <th>昵称</th>
                <th>手机</th>
                <th>邮箱</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id='member'}
            <tr>
                <td>{$member.username}</td>
                <td>{$member.nicename}</td>
                <td>{$member.phone}</td>
                <td>{$member.emai}</td>
                <td>{$member.state}</td>
                <td>{$member.create_time}</td>
                <td>
                    <div class="am-btn-group am-btn-group-xs">
                        <a href="<?=URL('/admin/member/update',array('id'=>$link['link_id']));?>" class="am-btn am-btn-primary am-radius"><i class="am-icon-edit"></i></a>
                        <a href="<?=URL('/admin/member/remove',array('id'=>$link['link_id']));?>" class="am-btn am-btn-primary am-radius"><i class="am-icon-trash"></i></a>
                    </div>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        {$page}
    </div>
</div>
{include file="footer" /}
