{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}
<div class="about-banner">
    <img src="/static/home/yuncms/images/about_bj.jpg"/>
    <div class="about-banner-div">
        <div class="about-banner-div-border" data-am-scrollspy="{animation:'slide-left'}"></div>
        <div class="about-banner-div-span">
            <div class="about-banner-div-span-div">
                <strong data-am-scrollspy="{animation:'slide-right', delay: 500}">关于我们</strong>
                <span data-am-scrollspy="{animation:'slide-right', delay: 1000}">云阿拉丁是专注于互联网业务的创新与实践者</span>
            </div>
        </div>
    </div>
</div>
<div class="about-info cms-g">
    <div class="about-info-title">
        <h1>我们是谁？</h1>
        <h2>懂你所需，做你所想</h2>
        <h3>大冶市云阿拉丁科技有限公司创建于2015年1月5日，总部位于青铜故里——大冶市。公司致力于帮助传统行业实现在互联网时代的转型升</h3>
    </div>
    <div class="about-info-div">
        <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
            <div class="about-info-div-img">
                <img src="/static/home/yuncms/images/about_1.jpg"/>
            </div>
        </div>
        <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
            <div class="about-info-div-img">
                <img src="/static/home/yuncms/images/about_2.jpg"/>
            </div>
        </div>
        <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
            <div class="about-info-div-img">
                <img src="/static/home/yuncms/images/about_3.jpg"/>
            </div>
        </div>
        <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
            <div class="about-info-div-img">
                <img src="/static/home/yuncms/images/about_4.jpg"/>
            </div>
        </div>
    </div>
</div>

<div class="about-list cms-g">
    <h1>我们能做什么？</h1>
    <h2>我们做到的，也许不简单！</h2>
    <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
        <div class="about-list-item">
            <div class="about-list-item-div">
                <span><i class="font">&#xe62c;</i></span>
            </div>
            <strong>网站建设</strong>
            <em>about-list-item</em>
            <span>高端网站定制</span>
            <span>社区网站开发</span>
            <span>品牌展示型网站建设</span>
        </div>
    </div>
    <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
        <div class="about-list-item">
            <div class="about-list-item-div">
                <span><i class="font">&#xe604;</i></span>
            </div>
            <strong>APP开发</strong>
            <em>App development</em>
            <span>高端网站定制</span>
            <span>社区网站开发</span>
            <span>品牌展示型网站建设</span>
        </div>
    </div>
    <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
        <div class="about-list-item">
            <div class="about-list-item-div">
                <span><i class="font">&#xe653;</i></span>
            </div>
            <strong>电子商务</strong>
            <em>Electronic commerce</em>
            <span>高端网站定制</span>
            <span>社区网站开发</span>
            <span>品牌展示型网站建设</span>
        </div>
    </div>
    <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
        <div class="about-list-item">
            <div class="about-list-item-div">
                <span><i class="font">&#xe64b;</i></span>
            </div>
            <strong>软件开发</strong>
            <em>Software development</em>
            <span>高端网站定制</span>
            <span>社区网站开发</span>
            <span>品牌展示型网站建设</span>
        </div>
    </div>
</div>

<div class="about-bottom cms-g">
    <h1>先进的技术+远瞻的眼光</h1>
    <h2>互联网行业瞬息万变，谁能洞察未来，谁就能引领行业发展。</h2>
    <h3>云阿拉丁拥有一支朝气蓬勃的团队，我们执着、敏锐、追求更好；通过自己的专业眼光，为客户提供各类解决方案，始终为客户思考如何占领互</h3>
</div>


{include file="footer" /}
