{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}
<div class="service-banner">
    <img src="/static/home/yuncms/images/service_banner.jpg"/>
    <div class="service-banner-div">

        <div class="service-banner-div-logo">
            <div data-am-scrollspy="{animation:'slide-left'}">
                <img src="/static/home/yuncms/images/logowhite.png"/>
                <em>专注创造产品给企业带来的价值</em>
            </div>
            <strong data-am-scrollspy="{animation:'slide-right', delay: 500}">您身边的的网络服务专家</strong>
            <span data-am-scrollspy="{animation:'slide-right', delay: 1000}">为您量身打造最适合您的网站，助您提升品牌价值！</span>
        </div>
        <div class="service-banner-div-img" data-am-scrollspy="{animation:'scale-up', delay: 1500, repeat: false}">
            <div>
                <img src="/static/home/yuncms/images/service_banner_01.png"/>
            </div>
        </div>
    </div>
</div>

<div class="service-list">
    <div class=" cms-g">
        <h1>服务范围</h1>
        <h2>一个专注的团队，能够把所有的时间、精力和智慧 </h2>
        <h2>凝聚到要干的事情上，最大限度地发挥主动性和创造性。</h2>
        <div class="service-list-d cms-g">
            <div class="am-u-sm-12 service-list-di">
                <div class="service-list-did">
                    <div class="service-list-didt am-hide-sm-down">
                        <span><i class="font">&#xe62c;</i></span>
                        <strong class="f-toe">网站建设</strong>
                    </div>
                    <div class="service-list-didb">
                        <span><i class="am-show-sm-down">1.</i>提供一对一不同方案设计，高质 量网站建设、UI设计。抛弃传统 固定模式建站、固定收收费模式</span>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 service-list-di">
                <div class="service-list-did">
                    <div class="service-list-didt am-hide-sm-down">
                        <span><i class="font">&#xe61c;</i></span>
                        <strong class="f-toe">网站建设方案</strong>
                    </div>
                    <div class="service-list-didb">
                        <span><i class="am-show-sm-down">2.</i>通过科学分析建站各环节需求， 进行思维导图设计，与客户深度 沟通选定最完美站点内容。</span>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 service-list-di">
                <div class="service-list-did">
                    <div class="service-list-didt am-hide-sm-down">
                        <span><i class="font">&#xe613;</i></span>
                        <strong class="f-toe">专业页面设计制作</strong>
                    </div>
                    <div class="service-list-didb">
                        <span><i class="am-show-sm-down">3.</i>我们根据您要求，充分尊重您的 意见，与您保持良好沟通，设计 贴合您企业特质的网站风格。</span>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 service-list-di">
                <div class="service-list-did">
                    <div class="service-list-didt am-hide-sm-down">
                        <span><i class="font">&#xe64b;</i></span>
                        <strong class="f-toe">网站建设开发</strong>
                    </div>
                    <div class="service-list-didb">
                        <span><i class="am-show-sm-down">4.</i>分析客户行业内知名品牌及竞争 对手的站点产品，融聚优质内容 。使您的网站更加活动聚焦。</span>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 service-list-di">
                <div class="service-list-did">
                    <div class="service-list-didt am-hide-sm-down">
                        <span><i class="font">&#xe664;</i></span>
                        <strong class="f-toe">网站后期维护</strong>
                    </div>
                    <div class="service-list-didb">
                        <span><i class="am-show-sm-down">5.</i>我们提供终身后期技术服务支 持，及相关基础操作技术培训指 导，让您做到真正放心！省心！</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="service-flowchart">
    <div class="cms-g">
        <h1>服务流程</h1>
        <h2>技艺是无价之宝，知识是智慧的明灯，没有比知识更好的朋友</h2>
        <div class="service-flowchart-img">
            <img src="/static/home/yuncms/images/service_liucheng.png"/>
        </div>
    </div>
</div>

<div class="service-bottom">
    <div class="cms-g">
        <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
            <div class="service-bottom-item">
                <div class="cms-g">
                    <div class="am-u-sm-6 am-u-md-12 am-u-lg-12">
                        <img src="/static/home/yuncms/images/service_bottom01.jpg"/>
                    </div>
                    <div class="am-u-sm-6 am-u-md-12 am-u-lg-12">
                        <h1>专注</h1>
                        <span>一个专注的团队，能够把所有的时间、精力和智慧凝 聚到要干的事情上，最大限度地发挥主动性和创造性。</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
            <div class="service-bottom-item">
                <div class="cms-g">
                    <div class="am-u-sm-6 am-u-md-12 am-u-lg-12">
                        <img src="/static/home/yuncms/images/service_bottom02.jpg"/>
                    </div>
                    <div class="am-u-sm-6 am-u-md-12 am-u-lg-12">
                        <h1>高效</h1>
                        <span>我们能在更短的时间里完成比其他人更多的任务，而且 我们的质量与其他人一样或者更好。</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
            <div class="service-bottom-item">
                <div class="cms-g">
                    <div class="am-u-sm-6 am-u-md-12 am-u-lg-12">
                        <img src="/static/home/yuncms/images/service_bottom02.jpg"/>
                    </div>
                    <div class="am-u-sm-6 am-u-md-12 am-u-lg-12">
                        <h1>品质</h1>
                        <span>品质代表了我们的思想、品性、产品质量。我们信奉 最美好的东西，都是由人的聪明的手创造出来的。</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="footer" /}
